@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model TP3.Models.Personne
}
@{
    ViewData["Title"] = "Toutes les personnes";
}



@{
    TP3.Models.Personne p = Model;
    if (Model == null)
    {

<div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">
        <h1>
            Cet ID est
            invalide
        </h1>
        <h3>
                <a asp-action="all">Toutes les personnes</a>
        </h3></div>
    }
    else
    {
        <div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">

            <h1>Personnes @Model.id</h1>
            <h3>
                <a asp-action="all">Toutes les personnes</a>
            </h3>
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                id
            </dt>
            <dd class="col-sm-10">
                @p.id
            </dd>
            <dt class="col-sm-2">
                prenom
            </dt>
            <dd class="col-sm-10">
                @p.prenom
            </dd>
            <dt class="col-sm-2">
                nom
            </dt>
            <dd class="col-sm-10">
                @p.nom
            </dd>
            <dt class="col-sm-2">
                email
            </dt>
            <dd class="col-sm-10">
                @p.email
            </dd>
            <dt class="col-sm-2">
                image
            </dt>
            <dd class="col-sm-10">
                @p.image
            </dd>
            <dt class="col-sm-2">
                pays
            </dt>
            <dd class="col-sm-10">
                @p.pays
            </dd>
       </dl>
    
    }
}
